
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Italiana&family=Poppins:wght@300&display=swap');

main{
    /* float: left; */
    display: flex;
    background-image: url("./src/fondolargo.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    width: 100%;
    height: 100%;
}

h1{
    font-family: 'Italiana', serif;
    font-weight: 400;
    font-size: larger;
    margin-bottom: 5px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #417D9E;
}

h3{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: #C4A5CF;
}

.text-paragraph{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: small;
    display: flex;
    justify-content: center;

    margin: 30px;
    margin-left: 150px;
    margin-right: 150px;
    color: #417D9E;
}

.image-banner{
    margin: 100;
    margin-left: 200px;

    width: 30%;
}

.image-banner>img{
    width: fit-content;
}
